POSTGRES_DB=nxt
POSTGRES_USER=nxt
POSTGRES_PASSWORD=nxt
POSTGRES_PORT=5432

DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
BACKEND_PORT=8000

AI_SERVICE_PORT=8001

CHAT_DB_PORT=27017
MONGO_DB=chat-app
CHAT_SERVICE_PORT=8002
CHAT_SERVICE_PORT_INTERNAL=3000
CHAT_MONGO_URI=mongodb://chat-db:27017/chat-app

FRONTEND_PORT=3000
NEXT_PUBLIC_APP_MODE=dev
NEXT_PUBLIC_API_URL=http://backend:8000
NEXT_PUBLIC_API_BASE_URL_DEV=http://backend:8000
NEXT_PUBLIC_AI_SERVICE_URL=http://localhost:8001
NEXT_PUBLIC_CHAT_SOCKET_URL=http://localhost:8002
